.ba-footer{
	background: url(../img/footer-bg.svg) 60% 0 no-repeat;
	background-size: cover;
	padding: 460px 0 55px 0;
	color: #fff;

	h2,h3,h4,h5,h6{
		color: inherit;
	}

	h4{
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 20px;
		letter-spacing: 0.1em;

		@media screen and (min-width:640px){
			margin-bottom: 60px;
		}
	}

	a{
		color: #fff;
		&:hover{
			color: lighten(#4d99f7, 20%);
			text-decoration: none;
		}
	}
}
.ba-container--small{
	max-width: 1245px;
}

.ba-footer-links-col{
	@media screen and (min-width:640px){
		width: 50%;
		padding-left: 30px;
	}
	@media screen and (min-width:1024px){
		width: 25%;
	}
}
.ba-footer-links-row{
	@media screen and (min-width:640px){
		display: flex;
		flex-wrap: wrap;
		margin-left: -30px;
	}
}
.ba-footer-list{
	margin: 0 0 60px;
	padding: 0;
	list-style: none;
	font-size: 18px;

	li + li{
		margin-top: 8px;		
		@media screen and (min-width:640px){
			margin-top: 18px;			
		}
	}
}
.ba-subscribe{
	margin-bottom: 60px;
	@media screen and (min-width:640px){
		margin-bottom: 130px;
	}
	@media screen and (min-width:1024px){
		display: flex;
		justify-content: space-between;
	}
	&__title{
		margin-bottom: 20px;

		@media screen and (min-width:640px){
			text-align: center;
		}
		@media screen and (min-width:1024px){
			text-align: left;
		}
	}
	&__form{
		display: flex;
		flex-direction: column;
		@media screen and (min-width:640px){
			flex-direction: row;
		}
	}
	&__input{
		text-align: center;
		height: 80px;
		font: 300 16px/80px Rubik, sans-serif;
		color: #303c62;
		padding: 0 38px;
		border: none;
		background: #fff;
		border-radius: 6px 6px 0 0;
		&:focus{
			background: rgba(#fff, 0.8);
			outline: none;
		}
		&::placeholder{
			color: #303c62;
		}

		@media screen and (min-width:640px){
			width: 100%;
			border-radius: 6px 0 0 6px;
		}
		@media screen and (min-width:1024px){
			width: 286px;
		}
	}
	&__button{
		border-radius:0 0 6px 6px;
		@media screen and (min-width:640px){
			border-radius:0 6px 6px 0;
		}
	}
}

.ba-button{
	border: none;
	color: #fff;
	height: 80px;
	letter-spacing: 0.05em;
	padding: 0 64px;
	font: 500 18px/80px Rubik, sans-serif;
	background-image: linear-gradient( to left, rgb(24,56,107) 1%, rgb(41,99,187) 100%);
}
 